.kesa-page-container {
  width: 100%;
}

.kesa-aPropos-title {
  z-index: 1;
  margin: 0px;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

.kesa-imgTop {
  margin-bottom: 0px;
  width: 95%;
  max-width: 1240px;
  display: flex;
  justify-content: center;
}

.kesa-imgTop-img {
  height: 222px;
  width: 100%;
  object-fit: cover;
  filter:brightness(75%);
  border-radius: 25px;
}

.kesa-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kesa-dropdown-container {
  padding: 0 20px;
  max-width: 1080px;
}



