.kesa-dropdown {
    margin-top: 25px;
    width: 100%;
}

.kesa-dropdown-top {
    z-index: 1;
    width: 100%;
    top: -20%;
    background-color: #FF6060;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.kesa-dropdown-title {
    margin: 0px;
    padding: 5px 10px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
}

.kesa-dropdown-arrow {
    width: 16px;
    padding: 10px;
}

.arrow-up {
    transform: rotate(180deg);
}

.kesa-dropdown-contentBox {
    margin: 0px;
    padding: 0px;
    background-color: #F6F6F6;
    border-radius: 5px;
}

.kesa-dropdown-content {
    margin: 0px;
    padding: 24px 20px;
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.content-hide {
    display: none;
}

@media screen and (min-width: 800px) {

    .kesa-dropdown {
        margin-top: 40px;
    }

    .kesa-dropdown-title {
        padding: 5px 20px;
        font-size: 24px;
    }

    .kesa-dropdon-arrow {
        width: 24px;
        padding: 10px 20px;
    }

    .kesa-dropdown-content {
        font-size: 24px;
    }
    
}