.carousel{
    position: relative;
    display: flex;
    width: 100%;
    height: 255px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    width: 95%;
    margin: 10px auto 0px;
}

.carousel_arrow{
    position: absolute;
    top: 50%;
    height: 15%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel_arrow:active{
    transform: translateY(-50%) scale(0.9);
}

.carousel_arrow_right{
    height: 20px;
    right: 6px;
}

.carousel_arrow_left{
    height: 20px;
    left: 6px;
}


.slideCount{
    font-family: 'Montserrat';
    display: none;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 700;
    font-size: clamp(14px, 2vw, 18px);
}

@media screen and (min-width: 800px) {

    .carousel {
        height: 415px;
        width: 90%;
    }

    .carousel_arrow_right {
        height: 70px;
        right: 25px;
    }

    .carousel_arrow_left {
        height: 70px;
        left: 25px;
    }

    .slideCount {
        display: block;
    }
}